{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{%block title%}My Meetups{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'styles/base.css' %}">
    <link rel="stylesheet" href="{% static 'styles/all-meetups.css' %}">
    {% block site_css  %}{% endblock %}
</head>
<body>
    <header id="main-header">
        <nav><a href="/meetups" id="main-logo">Django Meetups</a></nav>
        <h1>{% block main_heading %}{% endblock %}</h1>
        <p>{% block main_content %}{% endblock %}</p>
    </header>
    <main>
        {% block body %}{% endblock %}
    </main>
</body>
</html>